/* font-family: 'Josefin Sans', sans-serif;
font-family: 'Kanit', sans-serif;
font-family: 'Kaushan Script', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Sofia Sans', sans-serif; */


body{
    margin:0;
}


/* NAVBAR */

.navbar{
    display:flex;
    border-bottom: 3px solid gray;
    color:white;
    background-color: #13005A;
    justify-content: space-between;
    align-items: center;
    padding:5px 2rem;
    position: sticky;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-btn{
    background-color: transparent!important;
    display:block;
    padding:10px;
    border-radius:1.2rem;
    background-color: transparent;
    font-size: 1.2rem;
    border: 3px solid blueviolet;
    text-decoration: none !important;
    color: white;
    box-shadow: inset 0 0 20px 8px #00337C;
    margin:0 10px;
    transition: border 2s ease-in-out,background-color 1s ease-in-out,box-shadow 1s ease-in-out,color 1s ease-in-out,box-shadow 1s ease-in-out;
}

.nav-brand{
    font-size: 2rem !important;
    position: relative;
    padding: 10px 20px;
    position: relative;
    background-color: transparent!important;
    z-index: 1;
    background-repeat: no-repeat;
    border: 3px solid transparent;
    border-radius: 0.8rem;
    color: white;
}

.nav-btn:hover{
    animation: btn 1s ease-in-out 1;
    transition: background-color 1s ease-in-out;
    background-color: #8EA7E9 !important;
    animation-fill-mode: forwards;
}
.nav-btn::not(:hover){
  animation: btn 1s ease-in-out 1 reverse;
  animation-fill-mode:backwards;
}
.nav-brand:hover{
    border-radius: 0.8rem !important;
}

.mask{
  -webkit-mask-image: url("img/filename.png");
  mask-image: url("img/filename.png");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;    
}

.typewriter-name{
    margin:10em auto 10em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.typewriter-name-block{
    margin-right:1rem;
}
.typewriter-name img{
    position: relative;
    border-radius: 20px;
    z-index: -1;
    height:20rem;
    width:18rem;
    opacity:0;
    animation: fade 3s ease-out 1s 1 forwards,
        translate 2s ease-out 1s 1 forwards; 
}

.typewriter-container{
    background-color: transparent;
    position:relative;
    z-index: 1;
    width:25rem;
}

.typewriter-container h1{
    position:relative;
    z-index: 1;
    font-size:3rem;
    width:fit-content;
    overflow: hidden; 
    border-right: .10em solid orange; 
    white-space: nowrap; 
    /* margin: 0 auto; */
     /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15rem; 
    position: relative;
    animation: 
      typing 3s steps(14, end),
      blink-caret .75s step-end 1s infinite;
      
  }
  .typewriter-container p{
    position:relative;
    width:fit-content;
    background-color: transparent;
    z-index: 1;
    text-align:center;
    font-size:1.5rem;
    transform: translateX(4rem);
    animation-fill-mode: forwards;
    animation: appear 2s ease-out 1 4s forwards; 
    opacity:0;
  }

  .content-container{
    background-color:#8EA7E9;
    padding:5rem 0;
  }
  .content-card{
    width:65%;
    margin: 50px auto;
    border-radius: 1rem;
    box-shadow: 0 10px 10px 2px white;
    border: 3px solid #E5E0FF;
    background-color:white;
  }
  .content-header{
    padding: 2rem 4rem;
    border-bottom:2px solid white;
    margin:0 0 ;
  }
  .content-div{
    
    padding: 2rem 4rem 0;
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
  .content-block-hold{
    width:80%;
  }
  .content-div-content{
    padding:0.5rem;
  }
  .content-div-header{
    margin: 0 0;
    border-radius: 0.5rem 0 0 0.5rem;
  }
  .content-div-status{
    width:20%;
    border-radius: 0 0.5rem 0.5rem 0;
    padding:1rem;
    background-color:whitesmoke;
    height:inherit;
  }
  /* .my-img{
    height:10rem;
    width:10rem;
  } */

  /* The typing effect */
  @keyframes btn{
    to{
      border: 3px solid gray;
      /* background-color: gray; */
      box-shadow: 0 0 30px 8px gray;
      /* background-color: gray !important; */
      /* opacity: 0.4; */
      color:black;
    }
  }

  @keyframes typing {
    from { width: 0 }
    to { width: 21rem; }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }

  @keyframes fade{
    from{
        opacity:0
    }to{
        opacity:1;
        /* box-shadow: ; */
    }
  }
  @keyframes translate {
    from{
        transform:translateX(10rem);
    }to{
        transform:translateX(0);
    }
  }

  @keyframes appear{
    from{
        opacity:0
    }to{
        opacity:1;
        /* box-shadow: 0 0 10px 2px gray; */
    }
  }
 