/* font-family: 'Josefin Sans', sans-serif;
font-family: 'Kanit', sans-serif;
font-family: 'Kaushan Script', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Sofia Sans', sans-serif; */


a{
  text-decoration: none;
}
body{
    margin:0;
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Raleway', sans-serif; */
    /* box-sizing: border-box; */
}
h1,h2,h3,h4,.navbar{
  font-family: 'Raleway', sans-serif;
}


/* NAVBAR */

.navbar{
    display:flex;
    border-bottom: 3px solid gray;
    color:white;
    background: #C33764;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    justify-content: space-between;
    align-items: center;
    padding:5px 2rem;
    position: sticky;
    top:0;
    z-index: 100;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    visibility: visible;
}

  .menu{
   display: none; 
  }

.nav-btn{
    letter-spacing: 0.12rem;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    position: relative;
    background-color: transparent!important;
    display:block;
    /* padding:10px; */
    /* border-radius:1.2rem; */
    background-color: #00337C !important;
    font-size: 1.4rem;
    border-left: 3px solid red;
    border-right: 3px solid red;
    text-decoration: none !important;
    
    /* box-shadow: inset 0 0 20px 8px #00337C; */
    margin:0 10px;
    transition: border 2s ease-in-out,background-color 1s ease-in-out,box-shadow 1s ease-in-out,color 1s ease-in-out,box-shadow 1s ease-in-out;
    
}

.nav-anim-content{
  color: white;
  padding:0 0.5rem;
}
.nav-btn-anim::before,.nav-brand-anim::before{
  position: relative;
  margin:0 auto!important;
  display: block;
  content:' ';
  width:0;
  /* left:0; */
  /* top:-10px; */
  transition: width 1s;
  height:3px;
}
.nav-btn-anim::after,.nav-brand-anim::after{
  position: relative;
  margin:0 auto!important;
  display: block;
  content:' ';
  width:0;
  /* left:0; */
  /* bottom:-10px; */
  transition: width 1s;
  height:3px;
}

.nav-brand-anim::before{
  background-color: gold;
}
.nav-brand-anim::after{
  background-color: gold;
}
 .nav-btn-anim::before{
  background-color: red;
} 
.nav-btn-anim::after{
  background-color: red;
}

.nav-btn-anim:hover::before,.nav-brand-anim:hover::before,
.nav-btn-anim:hover::after,.nav-brand-anim:hover::after{
  width:100%;
}


.nav-brand{
    letter-spacing: 0.2rem;
    font-family: 'Raleway', sans-serif!important;
    font-size: 2rem !important;
    position: relative;
    padding:0;
    /* padding: 10px 20px; */
    /* position: relative; */
    background-color:#00337C !important;
    box-shadow: none!important;
    z-index: 1;
    background-repeat: no-repeat;
    border-color: gold;
    /* border-le: 3px solid transparent; */
    /* border-radius: 0.8rem; */
    border-radius:0;
    color: white;
}

/* .nav-btn.nav-brand::before:hover{
  background-color: gold, !important;
} */

.nav-btn:hover{
    animation: btn 1s ease-in 1;
    /* transition: background-color 1s ease-in-out; */
    /* background-color: #8EA7E9 !important; */
    animation-fill-mode: forwards;
}
.nav-btn::not(:hover){
  animation: btn 1s ease-in-out 1 reverse;
  animation-fill-mode:backwards;
}


.mask{
  -webkit-mask-image: url("img/filename.png");
  mask-image: url("img/filename.png");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;    
}

.intro-container{
  width:100%;
  background-image: url("img/pattern_circles.png");
  background-color: black;
  /* background-size:400% 400%; */
  background-position: left;
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  color: white;
  padding-top: 10em;
  padding-bottom: 10em;
  animation: slide 15s linear alternate infinite;
  /* background-image: url("img/pattern_circles.png"); */
}
.typewriter-name{
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.typewriter-name-block{
    margin-right:1rem;
}
.typewriter-name img{
    position: relative;
    border-radius: 20px;
    /* z-index: -1; */
    height:20rem;
    width:18rem;
    opacity:0;
    animation: fade 3s ease-out 1s 1 forwards,
        translate 2s ease-out 1s 1 forwards; 
}

.typewriter-container{
    background-color: transparent;
    position:relative;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    z-index: 1;
    width:24rem;
}

.typewriter-container h1{
    font-family: 'Raleway', sans-serif;
    position:relative;
    margin:0;
    z-index: 1;
    font-size:3rem;
    width:fit-content;
    overflow: hidden; 
    border-right: .10em solid orange; 
    white-space: nowrap; 
    /* margin: 0 auto; */
     /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15rem; 
    position: relative;
    animation: 
      typing 3s steps(14, end),
      blink-caret .75s step-end 1s infinite;
      
  }
  .typewriter-container p{
    position:relative;
    width:fit-content;
    background-color: transparent;
    z-index: 1;
    left: 1rem;
    text-align:center;
    font-size:1.5rem;
    transform: translateX(4rem);
    animation-fill-mode: forwards;
    animation: appear 2s ease-out 1 4s forwards; 
    opacity:0;
  }

  .content-container{
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
    padding:5rem 0;
  }
  .content-card{
    width:65%;
    margin: 50px auto;
    border-radius: 1rem;
    box-shadow: 0 10px 10px 2px white;
    border: 3px solid #E5E0FF;
    background-color:white;
    padding-bottom:2rem;
  }
  .content-header{
    padding: 2rem 4rem;
    border-bottom:2px solid gray;
    /* border-width: 20%; */
    margin:0 0 ;
  }
  .content-div{
    padding: 2rem 4rem 0;
    display:flex;
    justify-content: space-between;
    /* border:3px solid gray; */
    /* align-items: center; */
  }
  .content-block-hold{
    border:3px solid gray;
    border-right: none;
    border-radius: 0.5rem 0 0 0.5rem;
    width:80%;
    padding:2%;
  }
  .content-div-content{
    padding:0.5rem;
  }
  .content-div-header{
    margin: 0 0;
    border-radius: 0.5rem 0 0 0.5rem;
  }
  .content-div-status{
    border:3px solid gray;
    border-left: none;
    /* display: flex; */
    padding:1%;
    width:20%;
    text-align: center;
    border-radius: 0 0.5rem 0.5rem 0;
    padding:1rem;
    background-color:whitesmoke;
    /* height:inherit; */
  }
  .about-me-container{
    /* background-image: url("img/about-me-bg.png");
    background-size: contain; */
    padding:10rem 5rem;
    font-size:20px;
    line-height: 2.5rem;
  }

  .about-me-card-container{
    position:relative;
    transition: all 1s ease;
  }
  .about-me-card-container:hover .about-me-card{
    top:-50px;
  }
  .about-me-card-container:hover .about-me-bg-card1{
    top:calc(50% + 30px);
    left:calc(50% - 30px);
  }
  .about-me-card-container:hover .about-me-bg-card2{
    top:calc(50% - 10px);
    left:calc(51% + 10px);
  }
  
  .about-me-bg-card1{
    position:relative;
    background-color: #FF7787;
    /* padding:2rem 3rem; */
    border-radius:20px;
    width:80%;
    height:120%;
    z-index: 5;
    
    position: absolute;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */

    transform: translate(-50%, -50%) rotate(3deg);
    transition: all 1s ease;
    /* margin:0 auto; */
    /* padding-bottom:2rem; */
    
  }

  .about-me-bg-card2{
    position:relative;
    background-color: lightblue;
    /* padding:2rem 3rem; */
    border-radius:20px;
    width:75%;
    height:110%;
    z-index: 5;
    
    position: absolute;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 51%; /* position the left edge of the element at the middle of the parent */

    transform: translate(-50%, -50%) rotate(-3deg);
    transition: all 1s ease;
    /* margin:0 auto; */
    /* padding-bottom:2rem; */
    
  }

  .about-me-card{
    position: relative;
    z-index: 10;
    background: rgb(255,255,255);
    background: linear-gradient(242deg, rgb(255,255,255) 0%, rgb(255,222,225) 100%);
    padding:2rem 3rem;
    border-radius:20px;
    width:70%;
    margin:0 auto;
    top:0;
    transition: all 1s ease;
  }

  /* .about-me-card:hover{
    
  }  */

  /* .about-me-card:not(:hover){
    
    animation: popup ease 2s reverse;
    
    animation-fill-mode: forwards;
  } */
  .about-me-heading{
    font-size:32px;
  }

  .skills-container{
    padding: 8rem 0;
    position: relative;
    background: linear-gradient(90deg, #3F5EFB 0%, #FC466B 100%);
  }
  /* .skills-top-bg-img,.skills-bottom-bg-img{
    position: absolute;
    min-height:10rem;
    width: 100%;
    z-index: -100;
    
    background-repeat: no-repeat;
    background-size: stretch;
  }
  .skills-top-bg-img{
    top:0;
    background-image: url("img/skills-img-top.svg");
    
  }
  .skills-bottom-bg-img{
    bottom: 0;
    background-image: url("img/skills-img-bottom.svg");
  } */

  .skills-card{
    color: white;
    background-image: url("img/skills.svg");
    padding:2rem;
    z-index: 10;
    position: relative;
    /* height: 10rem; */
    width:70%;
    border-radius: 20px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    transition: box-shadow 2s ease-in-out,transform 2s ease-in-out;
  }

  .skills-card:hover{
    box-shadow: 0 10px 20px 10px white;
    transform: translateX(30px);
  }
  .skills-header{
    
    /* height: inherit; */
    width: 40%;
    margin:auto 0;
    text-align: center;
    padding-bottom: 3rem;
    backdrop-filter: blur(14px);
    border-radius:18px;
    padding-top:1rem;
    
  }
  .skill-div-header-name{
    margin-right:10px;
  }
  .skills-header h2{
    margin:auto;
    font-size:3rem;
  }
  .skills-bar-container{
    color:black;
    background: rgb(255,255,255);
    background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(255,222,225,1) 100%);
    
    width:40%;
    padding:2rem;
    border:2px solid gray;
    border-radius: 20px;
    /* padding:2rem 12rem; */
  }
  .skills-bar-container:last-child{
    padding-bottom: 0;
  }
  .skill-div{
    padding-bottom:2rem;
  }
  .skill-div-header{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.8rem;
  }

  .skill-div-bar-container{
    min-height: 15px;
    /* padding:1rem; */
    width:100%;
    border: 1px solid gray;
    border-radius: 20px;
  }
  .skill-div-bar{
    /* width:80%; */
    background-color: red;
    min-height: 15px;
    border-radius: 20px;
  }
  

  /* div[class^='width-']{
    background-color:white !important;
  } */
  .popup{
    animation: popup 2s ease-out 1 forwards;
  }
  .popdown{
    animation:popdown 2s ease-out 1 forwards;
  }
  .contact-container{
    padding-top:1rem;
  }
  .contact-icon-array{
    margin:0 auto;
    text-align: center;
  }
  .contact-icon-array{
    width:30%;
    padding:1rem 0.5rem 0.5rem 0.5rem;
    display: flex;
    justify-content: space-evenly;
  }
  .contact-icon-block{
    position: relative;
    color:black;
    /* margin-right:3rem; */
    cursor: pointer;
    text-align: center;
  }

  .icon-container{
    position: relative;
    
    transition:color 0.5s ease-in-out;
    
  }

  .icon-container:hover{
    color:red;
    top:-5px;
 }

  .contact-header{
    text-align:center;
  }

  /* The typing effect */
  @keyframes btn{
    to{
      /* border: 3px solid gray; */
      /* background-color: gray; */
      box-shadow: 0 0 30px 8px gray;
      /* letter-spacing: 0.2rem; */
      /* background-color: gray !important; */
      /* opacity: 0.4; */
      /* color:black; */
    }
  }

  @keyframes typing {
    from { width: 0 }
    to { width: 21rem; }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }

  @keyframes fade{
    from{
        opacity:0
    }to{
        opacity:1;
        box-shadow: 0 1px 10px 4px gray;
        /* box-shadow: ; */
    }
  }
  @keyframes translate {
    from{
        transform:translateX(10rem);
    }to{
        transform:translateX(0);
    }
  }

  @keyframes appear{
    from{
        opacity:0
    }to{
        opacity:1;
        /* box-shadow: 0 0 10px 2px gray; */
    }
  }

  @keyframes slide{
    from{
      background-position: left;
    }to{
      background-position: right;
    }
  }

  @keyframes popup{
    
    to{
      transform: translateY(-20px);
    }
  }

  @keyframes popdown{
    from{
      transform: translateY(-20px);
    }
    to{
      transform: translateY(0px);
    }
  }


  @media only screen and (max-width:955px){
    .content-card{
      width: 70%;
    }
    .content-div{
      padding:1.5rem 2rem;
    }
    .content-header{
      padding: 1.5rem 2rem;
    }
    .about-me-bg-card1,.about-me-bg-card2{
     width:80%; 
    }
    .about-me-card{
      width:80%;
    }
    .skills-header h2{
      font-size: 2.4rem;
    }
    .skills-bar-container{
      padding:1.5rem;
    }
    .skills-card{
      width:80%;
    }
    .typewriter-name{
      flex-direction: column;
    }
    .navbar{
      justify-content: center;
    }
    .nav-brand{
      display: none;
    }
    .nav-anim-content{
      letter-spacing: 0.1rem;
    }
  }
  

  @keyframes rotate{
    from{
      transform: rotate(0deg);
    }to{
      transform: rotate(90deg);
    }
  }

 @media only screen and (max-width:690px) {
    .about-me-card{
      transition: none;
    }
    .about-me-card-container:hover .about-me-card{
      top:0;
    }
    .about-me-container{
      transition: none;
    }
    .nav{
      position: absolute;
      top:2rem;
      background-color: rgba(0, 0, 0,0.9);
      display: block;
      width: 100%;
      visibility: hidden;
      /* display: none; */
      flex-direction: column;
      /* justify-content: center; */
      align-items: center;
    }
    .nav-btn{
      text-align: center;
      box-shadow: none;
      border-radius: 10px;
      margin:10px auto;
      width:10rem;
      border:none;
    }
    .menu{
      display: inline-block;
    }
    .typewriter-name-block{
      margin-right:0;
      margin-left:1rem;
  }
  .typewriter-container p{
    margin-right:1.5rem;
  }

  .content-container{
    padding:2rem 0;
  }
  .content-card{
    width:80%;
  }
  .content-div{
    align-items: center;
    justify-items: center;
    text-align: center;
    padding:1rem 2rem;
    flex-direction: column;
  }
  .content-div-status{
    padding: 2% !important;
    width:100%;
    border-radius: 0 0 0.5rem 0.5rem ;
    border-top:none;
    border-left:3px solid gray;

    padding:1rem 0.5rem;
    text-align: center;
  }
  .content-block-hold{
    border-radius:0.5rem 0.5rem 0 0;
    border-right:3px solid gray;
    border-bottom: none;  
    width:100%;
  }
  .content-header{
    padding:1rem 2rem;
  }
  .intro-container{
    padding-top:8rem;
    padding-bottom: 8rem;
  }
  .about-me-bg-card1,.about-me-bg-card2{
    display: none;
  }
  .about-me-container{
    padding:2rem;
    transition:none;
  }
  .about-me-card{
    width:90%;
    padding:1rem 1.5rem;
    transition: none;
  }
  
  .about-me-content p{
    font-size: 16px;
  }

  .skills-card{
    /* padding: 1rem; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: none;
  }
  .skills-card:hover{
    transform: none;
    box-shadow: none;
  }

  .skills-header{
    width:90%;
  }

  .skills-header h2{
    font-size: 2.4rem;
  }
  .skills-bar-container{
    width:80%;
  }
  .contact-icon-block{
    
    padding:0 2rem 2rem;
  }
  .contact-icon-block h4{
    display: none;
  }
 }

 